.navbar {
	width: 100%;
	height: 60px;
	background-color: rgba(186, 21, 21, 0.203);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.navbar h1 {
	padding-left: 20px;
}

.navbar a {
	color: blue;
	text-decoration: none;
}

.links {
	display: flex;
	gap: 20px;
	padding-right: 20px;
}
